<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layoutForm}">
<head>
<meta charset="utf-8">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<!-- Swiper -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>


<link rel="stylesheet" th:href="@{/css/popUpForm.css}">
<script src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<div  layout:fragment="content">
	<script src="/javascript/popUp.js"></script>
	
	<!-- 클래스명은 변경하면 안 됨 -->
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img
					src="https://library.daegu.go.kr/data/popupZone/h32/1666577215439">
			</div>
			<div class="swiper-slide">
				<img
					src="https://library.daegu.go.kr/data/popupZone/h32/1663307448253">
			</div>
			<div class="swiper-slide">
				<img
					src="https://library.daegu.go.kr/data/popupZone/h32/1656584022367">
			</div>
			<div class="swiper-slide">
				<img
					src="https://library.daegu.go.kr/data/popupZone/h32/1667357066868">
			</div>
			<div class="swiper-slide">
				<img
					src="https://library.daegu.go.kr/data/popupZone/h32/1661164896085">
			</div>
			<div class="swiper-slide">
				<img
					src="https://library.daegu.go.kr/data/popupZone/h32/1656584031883">
			</div>

		</div>

		<!-- 네비게이션 -->
		<div class="swiper-button-next" ></div>
		<!-- 다음 버튼 (오른쪽에 있는 버튼) -->
		<div class="swiper-button-prev"></div>
		<!-- 이전 버튼 -->
	
  </div>

		
	</div>
</div>
</html>