<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layouts/layoutForm}">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<link rel="stylesheet"
	href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css" />
<script
	src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="/javascript/adminAccounts.js"></script>
<link th:href="@{/css/adminAccounts.css}" rel="stylesheet">
</head>
<div id="adminAccount-wrapper" layout:fragment="content">
	<div>
		<label id="admin-title">관리자 계정</label>
		<button type="button" id="admin-add" onclick="fnCreate()" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">관리자 생성</button>
	</div>
	<table id="data_list" class="table table-accounts">
		<thead>
			<tr>
				<th>아이디</th>
				<th>이름</th>
				<th>이메일</th>
				<th>권한</th>
				<th>주소</th>
				<th>상세주소</th>
				<th>성별</th>
				<th>No.</th>
				<th>생성일</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="member : ${memberResponseDto}">
				<td th:text="${member.id}"></td>
				<td th:text="${member.name}"></td>
				<td th:text="${member.email}"></td>
				<td th:text="${member.role}"></td>
				<td th:text="${member.address}"></td>
				<td th:text="${member.address_detail}"></td>
				<td th:text="${member.gender}"></td>
				<td th:text="${member.number}"></td>
				<td
					th:text="${#temporals.format(member.registerTime, 'yyyy-MM-dd HH:mm')}"></td>
			</tr>
		</tbody>
	</table>
	<div class="modal fade" id="exampleModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div
			class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<form action="/admin/memberUpdate" role="form" method="post" id="modal-form">
					<input type="hidden" id="modal-method" name="_method" value="put">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">회원 상세정보</h5>
					</div>
					<div class="modal-body">
						<table id="modal-table">
							<tr>
								<td><label class="modal-label">아이디</label></td>
								<td><input type="text" class="modal-input"
									id="modal-detail-id" name="id" readonly="readonly"></td>
							</tr>
							<tr>
								<td><label class="modal-label">이름</label></td>
								<td><input type="text" class="modal-input"
									id="modal-detail-name" name="name"></td>
							</tr>
							<tr>
								<td><label class="modal-label">비밀번호</label></td>
								<td><input type="password" class="modal-input"
									id="modal-detail-password" name="password"></td>
							</tr>
							<tr>
								<td><label class="modal-label">이메일</label></td>
								<td><input type="text" class="modal-input"
									id="modal-detail-email" name="email"></td>
							</tr>
							<tr>
								<td><label class="modal-label">주소</label></td>
								<td><input type="text" class="modal-input"
									id="modal-detail-address" name="address"></td>
							</tr>
							<tr>
								<td><label class="modal-label">상세주소</label></td>
								<td><input type="text" class="modal-input"
									id="modal-detail-detailAddress" name="address_detail"></td>
							</tr>
							<tr>
								<td><label class="modal-label">성별</label></td>
								<td><select id="modal-detail-gender" name="gender" class="modal-input modal-select">
										<option value="M">남</option>
										<option value="F">여</option>
								</select></td> 
							</tr>
							<tr>
								<td><label class="modal-label">권한</label></td>
								<td><select id="modal-detail-role" name="Role" class="modal-input modal-select">
										<option value="ADMIN" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">ADMIN</option>
										<option value="MANAGER">MANAGER</option>
										<option value="USER">USER</option>
								</select></td>
							</tr>
							<tr>
								<td><label class="modal-label">생성일</label></td>
								<td><input type="text" class="modal-input"
									id="modal-detail-createDate" readonly="readonly"></td>
							</tr>
						</table>

					</div>
					<div class="modal-footer">
						<input type="hidden" name="number" id="modal-detail-number">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal" id="btn-close" onclick="modalHide()">Close</button>
							<button type="button" class="btn btn-primary" id="modal-delete" onclick="modalDelete()"
							sec:authorize="hasAnyAuthority('ROLE_ADMIN')">삭제</button>
							<button type="button" class="btn btn-primary" onclick="check()" >중복확인</button>
						<button type="submit" class="btn btn-primary" id="modal-submit" >변경하기</button>
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<!-- Modal -->

</html>