<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layoutForm}">
<head>
<meta charset="UTF-8">
<title>Document</title>
<link rel="stylesheet" href="/css/adminUserList.css">

</head>

<div class="section" layout:fragment="content">

	<form action >
	

		<select id="RoleSelect" name="RoleSelect">
			<option value="all">전체</option>
			<option value="user">사용자</option>
			<option value="manager">매니저</option>
			<option value="admin">관리자</option>
		</select>
		<button id="button" type="button" onclick="clkBtn()">조회</button>
	</form>
	<!-- <script>
	function clkBtn(){
		console.log($("#RoleSelect").val()); //value값 가져오기
		console.log($("select[name=RoleSelect] option:selected").text()); //text값 가져오기
		
		return false;
	}
		
	</script> -->
	<h2>회원 목록</h2>

	<table>
		<thead>
			<tr>

				<th>Name</th>
				<th>ID</th>
				<th>Email</th>
				<th>Gender</th>
				<th>Login</th>
				<th>Role</th>


			</tr>
		</thead>
		<tbody>
			<tr th:each="mb : ${member}">
				<td th:text="${mb.name}"></td>
				<td th:text="${mb.id}"></td>
				<td th:text="${mb.email}"></td>
				<td th:text="${mb.gender}"></td>
				<td th:text="${mb.lastLogin}"></td>
				<td th:text="${mb.Role}"></td>
			</tr>
		</tbody>
	</table>

</div>
<!-- 
<script>
	$("#RoleSelect option:selected").change(function() {
		var value = $(this).val();
		$(this).css('color', value);
	});
</script>
<script type="text/javascript">
function clkBtn(){
	$('input[name="RoleSelect[value]"').each(function(idx, item) {
		var tmpValue = $(item).val();
		console.log(tmpValue);	
	});
</script> -->
</html>