<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layoutForm}">
<head>
<meta charset="UTF-8">
<title>Document</title>
<link rel="stylesheet" href="/css/adminUserList.css">

</head>

<div class="section" layout:fragment="content">
	<table><h2>회원 목록
		<thead>
			<tr>
				
				<th>Name</th>
				<th>ID</th>
				<th>Email</th>
				<th>Gender</th>
				<th>Login</th>
				<th>Role</th>


			</tr>
		</thead>
		<tbody>
			<tr th:each="mb : ${member}">
				<td th:text="${mb.name}"></td>
				<td th:text="${mb.id}"></td>
				<td th:text="${mb.email}"></td>
				<td th:text="${mb.gender}"></td>
				<td th:text="${mb.lastLogin}"></td>
				<td th:text="${mb.Role}"></td>
			</tr>
		</tbody>
	</table>
</div>

</html>