<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layouts/layoutForm}">
<head>
<meta charset="UTF-8">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--부트스트랩 css 추가-->
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<link th:href="@{/css/noticeForm.css}" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</head>
<div id="noticedetailview-container" layout:fragment="content">
	<h1>게시판 상세보기</h1>
	<form id="frm" action="/board/noticeDetailView/action" method="post"
		th:with="info=${test.info}" enctype="multipart/form-data">
		<script
			src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
		<script src="/javascript/noticeDetailView.js"></script>
		<input type="hidden" name="id" th:value="${info.id}">
		<div class="mb-3">
			<label class="form-label font-weight-bold"><span
				class="text-danger">* </span>제목</label> <input type="text"
				class="form-control txt-title" name="title" th:value="${info.title}"
				required>
		</div>
		<div class="mb-3">
			<label class="form-label font-weight-bold"><span
				class="text-danger">* </span>내용</label>
			<textarea class="form-control txt-content" rows="5" name="content"
				th:text="${info.content}" required></textarea>
		</div>
		<div class="mb-3">
			<label class="form-label font-weight-bold"><span
				class="text-danger">* </span>작성자</label> <input type="text"
				class="form-control txt-register" name="registerId"
				th:value="${info.registerId}" required>
		</div>
		<div class="mb-3">
			<label class="form-label font-weight-bold mt-2">파일 업로드</label>
			<div class="mb-3" id="fileDiv">
				<div class="custom-file mt-1">
					<input type="file" class="custom-file-input" id="customFile"
						name="customFile" onchange="fnChngFile(this)"> <label
						class="custom-file-label" for="customFile">파일 선택</label>
				</div>
			</div>
			<div class="float-right mt-2">
				<a class="btn btn-primary text-white"
					href="javascript:fnAddFileDiv();">파일 추가</a> <a
					class="btn btn-danger text-white" href="javascript:fnDelFileDiv();">파일
					삭제</a>
			</div>
			<th:block th:if="${test.fileList}">
				<div class="fileList mt-3" th:each="id : ${test.fileList}">
					<img alt="image file" style="width: 50%"
						class="form-control img-thumbnail mt-3"
						th:src="@{/file/download(id=${id})}">
					<div class="mt-2">
						<a class="btn btn-dark" th:href="@{/file/download(id=${id})}">내려받기</a>
						<button type="button" class="btn btn-danger"
							th:onclick="fnFileDelete(this, [[${id}]])">파일삭제</button>
					</div>
				</div>
			</th:block>
		</div>
		<div class="clearfix mt-5">
			<div class="">
				<button type="button" class="btn btn-success"
					onclick="javascript:location.href='/board/notice'">이전</button>
				<span class="btn btn-danger" th:onclick="fnViewDelete()"
					th:if="${session.id eq info.registerId} or ${#authorization.expression('hasRole(''ROLE_ADMIN'')') ? true : false} or ${#authorization.expression('hasRole(''ROLE_MANAGER'')') ? true : false}">삭제</span>
				<button type="button" class="btn btn-success clear" onclick="">수정</button>
				<span class="btn btn-primary btn-update" onclick="fnSubmit()"
					th:if="${session.id eq info.registerId} or ${#authorization.expression('hasRole(''ROLE_ADMIN'')') ? true : false} or ${#authorization.expression('hasRole(''ROLE_MANAGER'')') ? true : false}">수정완료</span>
			</div>
		</div>
		<input type="hidden" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}">
	</form>
</div>
</html>