<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layouts/layoutForm}">
<head>
<meta charset="UTF-8">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--부트스트랩 css 추가-->
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<link th:href="@{/css/noticeForm.css}" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</head>
<div id="noticedetailview-container" layout:fragment="content">
	<script
		src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	<script src="/javascript/noticeDetailView.js"></script>
	<h1 class="noticeDetail-title">공지사항</h1>
	<form id="frm" action="/board/noticeDetailView/action" method="post"
		th:with="info=${test.info}" enctype="multipart/form-data">
		<input type="hidden" name="id" th:value="${info.id}">
		<div class="mb-3 noticeDetail-div-title">
			<label class="form-label font-weight-bold noticeDetail-label"><span
				class="text-danger">* </span>제목</label> <input type="text"
				class="form-control font-weight-bold txt-title" name="title"
				th:value="${info.title}" maxlength="20"
				placeholder="제목은 20자 이내로 작성해주세요." required>
		</div>
		<div class="mb-3 noticeDetail-flex">
			<label class="form-label noticeDetail-label-writer">작성자 :</label> <input
				type="text" class="form-control txt-register" name="registerId"
				th:value="${info.registerId}" required> <label
				class="form-label noticeDetail-label-readCnt">조회수 :</label> <input
				type="text" class="form-control txt-register txt-readCnt"
				name="registerReadCnt" th:value="${info.readCnt}" required>
			<label class="form-label noticeDetail-label-time">작성일 :</label> <input
				type="text" class="form-control txt-register txt-time"
				name="registerTime"
				th:value="${#temporals.format(info.registerTime, 'yyyy-MM-dd HH:mm')}"
				required>
		</div>
		<div class="mb-3 noticeDetail-content">
			<label class="form-label font-weight-bold noticeDetail-label"><span
				class="text-danger">* </span>내용</label>
			<textarea class="form-control txt-content content_area" rows="5"
				name="content" th:text="${info.content}" maxlength="1000"
				placeholder="내용을 입력하세요."></textarea>
			<span style="color: #aaa;" id="counter">(0 / 1000)</span>
		</div>
		<div class="mb-3">
			<label class="form-label font-weight-bold mt-2 label-fileupload">파일
				업로드</label>
			<div class="mb-3" id="fileDiv">
				<div class="custom-file mt-1">
					<input type="file" class="custom-file-input" id="customFile"
						name="customFile" onchange="fnChngFile(this)"> <label
						class="custom-file-label" for="customFile">파일 선택</label>
				</div>
			</div>
			<div class="float-right mt-2">
				<a class="btn btn-primary text-white btn-fileupdate"
					href="javascript:fnAddFileDiv();">파일 추가</a> <a
					class="btn btn-danger text-white btn-fileupdate"
					href="javascript:fnDelFileDiv();">파일 삭제</a>
			</div>
			<th:block th:if="${test.fileList != 'empty'}">
				<label class="form-label font-weight-bold mt-2">첨부 파일</label>
				<div class="fileList mt-3" th:each="fileList : ${test.fileList}">
					<div class="mt-2">
						<span th:text="${fileList.origFileName}">이름없음</span> <a
							class="btn btn-dark"
							th:href="@{/file/download(id=${fileList.id})}">다운로드</a>
						<button type="button" class="btn btn-danger btn-filedelete"
							th:onclick="fnFileDelete(this, [[${fileList.id}]])">파일삭제</button>
					</div>
				</div>
			</th:block>

		</div>
		<div class="clearfix mt-5">
			<div class="noticeDetail-result">
				<button type="button" class="btn btn-success btn-pre"
					onclick="javascript:location.href='/board/notice'">이전</button>
				<span class="btn btn-danger" th:onclick="fnViewDelete()"
					th:if="${session.id eq info.registerId} or ${#authorization.expression('hasRole(''ROLE_ADMIN'')') ? true : false} or ${#authorization.expression('hasRole(''ROLE_MANAGER'')') ? true : false}">삭제</span>
				<button type="button" class="btn btn-success btn-update-start clear" onclick=""
					th:if="${session.id eq info.registerId} or ${#authorization.expression('hasRole(''ROLE_ADMIN'')') ? true : false} or ${#authorization.expression('hasRole(''ROLE_MANAGER'')') ? true : false}">수정</button>
				<span class="btn btn-primary btn-update btn-update-end" onclick="fnSubmit()"
					th:if="${session.id eq info.registerId} or ${#authorization.expression('hasRole(''ROLE_ADMIN'')') ? true : false} or ${#authorization.expression('hasRole(''ROLE_MANAGER'')') ? true : false}">수정완료</span>
			</div>
		</div>
		<input type="hidden" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}">
	</form>
</div>
</html>