<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layoutForm}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/contents.css}">
</head>

<div layout:fragment="content">
	<div class="intro-wapper">
		<div class="intro-title">
			<h1>작은 도서관이란</h1>
			<img src="/images/small.jpg" width="800" height="400">
		</div>

		<div class="intro01_area">
			<div class="left_area">
				<span style="font-size: 17px; font-weight: 600; color: #0a3076;">책과
					사람이 만나는 곳!</span><br><br>
					우리 모두가 꿈꾸는 그런 도서관이 있다면?<br>그럼 여기 작은 도서관으로 오세요.<br><br> 동네마다 걸어서 갈 수 있는 도서관!<br>누구나 자유롭게 들릴 수 있는 사랑방 같은 그곳! <br><br>
					보고 싶은 책을 마음껏 볼 수 있는 아이들과 이웃 주민 모두가 하나가 되는<br>작은 도서관이 바로 여기에 있습니다. <br><br>
				책과 사람이 만나는 곳!<br>
				작은 도서관은 가까운 친구 집에 놀러 가듯이 편안하게 이용할 수 있는 우리들의 문화공간입니다.<br> <br>
			</div>

			<div class="right_area">
			<span style="font-size: 17px; font-weight: 600; color: #0a3076;">작은 도서관은<br>여러분들과 가까운 곳에 있습니다!</span><br><br>
				항상 도서관은 멀리 있어 이동하기 불편하다는 생각을 한 번쯤은 해보시지 않으셨나요?<br><br>
				가까운 곳에서 책을 읽거나 아이들과 함께 추억을 만들 곳이 있었으면 어떨까요?<br><br>
				
				남구는 그러한 요구와 기대에 맞추어 공립 작은 도서관 18개관과
				사립 작은 도서관 60개관을 조성하였습니다<br><br>
				보다 많은 구민들이 행복하게 즐겨 찾는 도서관을 만들기 위해 최선을 다하겠습니다.
				<br> <br> 감사합니다.
				<div class="name_sign">
					<!-- 				<span class="sign_text">광주광역시 남구청장</span> <img
					src="./광주광역시 남구통합도서관_files/intro_sign.gif" alt="사인이미지"
					style="display: inline-block; margin-top: 10px"> -->
				</div>
			</div>
		</div>
	</div>
</div>
</html>