<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
	<meta charset="UTF-8">
</head>
<div class="footer" th:fragment="footer">
	<!-- ======= Footer ======= -->
	<footer class="page-footer font-small cyan darken-3">

		<nav>
              <a>남구문화정보도서관</a> |
              <a>광주광역시립사직도서관</a> |
              <a>남구청소년도서관</a> |
              <a>남구푸른길도서관</a> |
              <a>금호평생교육관</a>
          </nav>
		<p>
			<span>(61705) 광주광역시 남구 봉선로
				208(봉선동)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TEL. 062) 607-2526
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FAX. 062) 654-8962</span><br /> 
				<span>COPYRIGHT ⓒ 2016 by 광주광역시 남구통합도서관. ALL RIGHTS RESERVED.</span>
		</p>
		
	</footer>
 </div>
</html>