<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">

<head>
	<meta charset="UTF-8">
</head>

	<!-- ======= Footer ======= -->
	<footer class="page-footer font-small cyan darken-3">

		<nav>
              <a>발탄</a> |
              <a>비아키스</a> |
              <a>쿠크세이튼</a> |
              <a>아브렐슈드</a> |
              <a>일리아칸</a>
          </nav>
		<p>
			<span>(61705) 광주광역시 남구 봉선로
				208(봉선동)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TEL. 062) 607-2526
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FAX. 062) 654-8962</span><br /> 
				<span>COPYRIGHT ⓒ 2016 by 광주광역시 남구통합도서관. ALL RIGHTS RESERVED.</span>
		</p>
		
	</footer>
 </div>
</html>