<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div class="header" th:fragment="header">

	<head>
<meta charset="UTF-8">
<!-- link connect code -->
<link href="/css/headerForm.css" rel="stylesheet">
<!-- 2022-11-14 코드 추가됨 -->
	</head>

	<!-- <body> -->

	<!-- ======= Header ======= -->
	<header id="main-header" class="main-header d-flex align-items-center"
		th:fragment="header">
		<script src="/javascript/headerForm.js"></script>
		<!-- 2022-11-14 코드 추가됨 -->
		<div
			class="container-fluid container-xl d-flex align-items-center justify-content-between">
			<a href="/" class="logo d-flex align-items-center"> <img
				th:src="@{/images/logo.gif}">
			</a>

			<!-- ======= navbar ======= -->
			<nav id="navbar" class="navbar">
				<ul>
					<!--  1번 메뉴바-->
					<li class="dropdown"><a href="/header/greetings"><span>도서관
								안내</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
						<ul>
							<li><a href="/header/greetings">인사말</a></li>
							<li><a href="/header/intro">도서관 소개</a></li>
							<li><a href="javascript:searchLoad()">찾아오시는 길</a></li>
						</ul></li>

					<!--  2번 메뉴바-->
					<li class="dropdown"><a href="/search?keyword="><span>도서 검색</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
						</li>

					<!--  3번 메뉴바-->
					<li class="dropdown"><a href="/header/notice"><span>알림마당</span>
							<i class="bi bi-chevron-down dropdown-indicator"></i></a>
						<ul>
							<li><a href="/header/notice">공지사항</a></li>
						</ul></li>

					<!--  4번 메뉴바-->
					<li class="dropdown"><a href="/header/boardList"><span>열린마당</span>
							<i class="bi bi-chevron-down dropdown-indicator"></i></a>
						<ul>
							<li><a href="/header/boardList">자유게시판</a></li>
							<li><a href="/header/faq">자주하는 질문</a></li>
							<li><a href="/header/suggestion">건의사항</a></li>
							<li><a href="/header/request">도서요청</a></li>
						</ul></li>

					<!--  5번 메뉴바-->
					<li class="dropdown"><a href="/header/smallLibrary"><span>작은도서관</span>
							<i class="bi bi-chevron-down dropdown-indicator"></i></a>
						<ul>
							<li><a href="/header/smallLibrary">작은도서관 소개</a></li>
							<li><a href="/header/smallList">작은도서관 소식</a></li>
						</ul></li>
				</ul>
			</nav>
			<!-- .navbar End -->

			<div id="btn_group">
				<p class="sign-in" th:text="'접속IP : ' + ${session.ipaddress}"
					th:unless="${session == null}" sec:authorize="isAuthenticated()"></p>
				<p class="sign-in" th:text="${session.name}"
					th:unless="${session == null}" sec:authorize="isAuthenticated()"></p>
				<span style="float: right;"> <a href="/login/signUp"
					class="login-btn-a" sec:authorize="isAnonymous()"> <i
						class="input-icon uil uil-sign-in-alt login-btn-i"></i>
				</a> <a href="/login/logout" class="login-btn-a"
					sec:authorize="isAuthenticated()"> <i
						class="input-icon uil uil-sign-out-alt login-btn-i"></i>
				</a> <a href="/login/mypage" class="login-btn-a"
					sec:authorize="isAuthenticated()"> <i
						class="input-icon uil uil-user-circle login-btn-i"></i>
				</a> <a href="/admin/accounts" class="login-btn-a"
					sec:authorize="hasAnyAuthority('ROLE_MANAGER','ROLE_ADMIN')"> <i
						class="input-icon uil uil-setting login-btn-i"></i>
				</a>
				</span>
			</div>
		</div>
	</header>
	<!--   </body> -->
</div>
</html>
