<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div class="header" th:fragment="header">

	<head>
<meta charset="UTF-8">
<!-- link connect code -->
<link href="/css/headerForm.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<!-- 2022-11-14 코드 추가됨 -->
	</head>

	<!-- <body> -->

	<!-- ======= Header ======= -->
	<header id="main-header" class="main-header d-flex align-items-center"
		th:fragment="header">
		<script src="/javascript/headerForm.js"></script>
		<!-- 2022-11-14 코드 추가됨 -->
		<div
			class="container-fluid container-xl d-flex align-items-center justify-content-between">
			<a href="/" class="logo d-flex align-items-center"> <img
				th:src="@{/images/logo.gif}">
			</a>

			<!-- ======= navbar ======= -->
			<nav id="navbar" class="navbar">
				<ul>
					<!--  1번 메뉴바-->
					<li class="dropdown"><a href="/header/guide"><span>도서관
								안내</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
						<ul>
							<li><a href="/header/greetings">인사말</a></li>
							<li><a href="/header/a2">도서관 소개</a></li>
							<li><a href="/header/a3">찾아오시는 길</a></li>
						</ul></li>

					<!--  2번 메뉴바-->
					<li class="dropdown"><a href="/header/test2"><span>문화
								프로그램</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
						<ul>
							<li><a href="/header/b1">프로그램 신청</a></li>
						</ul></li>

					<!--  3번 메뉴바-->
					<li class="dropdown"><a href="/header/test3"><span>알람마당</span>
							<i class="bi bi-chevron-down dropdown-indicator"></i></a>
						<ul>
							<li><a href="/header/c1">공지사항</a></li>
						</ul></li>

					<!--  4번 메뉴바-->
					<li class="dropdown"><a href="/header/test4"><span>열린마당</span>
							<i class="bi bi-chevron-down dropdown-indicator"></i></a>
						<ul>
							<li><a href="/header/d1">질문과 답변</a></li>
							<li><a href="/header/d2">자주하는 질문</a></li>
							<li><a href="/header/d3">건의사항</a></li>
							<li><a href="/header/d4">포토갤러리</a></li>
						</ul></li>

					<!--  5번 메뉴바-->
					<li class="dropdown"><a href="/header/test5"><span>작은도서관</span>
							<i class="bi bi-chevron-down dropdown-indicator"></i></a>
						<ul>
							<li><a href="/header/e1">도서관별 소개</a></li>
							<li><a href="/header/e2">도서관 소식</a></li>
						</ul></li>
				</ul>
			</nav>
			<!-- .navbar End -->

			<div id="btn_group">
				<p class="sign-in" th:text="${session.ipaddress}"
					th:unless="${session == null}" sec:authorize="isAuthenticated()"></p>
				<p class="sign-in" th:text="${session.name}"
					th:unless="${session == null}" sec:authorize="isAuthenticated()"></p>
				<span style="float: right;"> <a href="/login/signUp"
					class="login-btn-a" sec:authorize="isAnonymous()"> <i
						class="input-icon uil uil-sign-in-alt login-btn-i"></i>
				</a> <a href="/login/logout" class="login-btn-a"
					sec:authorize="isAuthenticated()"> <i
						class="input-icon uil uil-sign-out-alt login-btn-i"></i>
				</a> <a href="/login/mypage" class="login-btn-a"
					sec:authorize="isAuthenticated()"> <i
						class="input-icon uil uil-user-circle login-btn-i"></i>
						
						
					<!-- 관리자 페이지   -->
				</a> <a href="/admin/memberList" class="login-btn-a"
					sec:authorize="hasAnyAuthority('ROLE_MANAGER','ROLE_ADMIN')"> <i
						class="input-icon uil uil-setting login-btn-i"></i>
				</a>
				</span>
			</div>
		</div>
	</header>
	<!--   </body> -->
</div>
</html>
