@charset "UTF-8";

#data_list_wrapper {
	display: inline-block;
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 100px;
}

#data_list_length {
	float: left;
}

#data_list_filter {
	float: right;
}