@charset "UTF-8";

#data_list_wrapper {
	display: inline-block;
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
}

#admin-title {
	padding: 20px;
	padding-top: 40px;
	font-size: 40px;
}

#admin-add {
	float: right;
	margin: 40px;
	height: 40px;
	width: 300px;
	background-color: #ff5e00;
	border: 0;
	font-size: 20px;
	border-radius: 12px;
}

#admin-add:hover {
	background-color: #ff9351;
}

#admin-add:focus {
	border: 0;
	outline: none;
}


#data_list_length {
	float: left;
}

#data_list_filter {
	float: right;
}

.modal-label {
	padding: 10px;
	margin: 0px;
}

.modal-input {
	width: 300px;
	height: 30px;
	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: rgb(233, 233, 233);
}

#modal-table {
	margin: auto;
}

#modal-table>tr {
	height: 20px;
}