@charset "UTF-8";

.h3 {
	display: inline-block;
	margin: 0;
	padding: 0;
	color: #111;
	font-size: 26px;
	font-weight: 500;
	letter-spacing: -1px;
}

.conTitle {
	position: relative;
	padding: 15px 30px;
	border-bottom: #dadada 2px solid;
}

.mt0 {
	margin-top: 10 !important;
}

h4 {
	margin: 30px 0 10px;
	padding: 0 0 0 27px;
	line-height: 20px;
	color: #0c8061;
	font-size: 27px;	
	background: url("../images/알림.png") no-repeat 1px 4px;	
}

h5 {
	margin: 15px 0 15px 0;
	padding: 0 0 0 20px;
	color: #333;
	font-size: 25px;
	font-weight: 500;
	background: url("../images/알림1.png") no-repeat 5px 9px;
}

.h6_ul li {
    padding: 3px 0 3px 12px;
    background: url(/images/hanbatlibrary/contents/bul_dot.gif) no-repeat 0 11px;
}


