@charset "UTF-8";

html {
	position: relative;
	min-height: 100%;
	margin: 0;
}

body {
	min-height: 100%;
	background-color: transparent;
	overflow-y:scroll;
	overflow-x:hidden;
}

.header {
	margin: 0;
	padding: 0;
}

.footer {
	background-color: #997799;
	width: 100%;
	padding: 15px 0;
	text-align: center;
}

.content {
	width: 80%;
}

.sidebar {
	width: 20%;
}

body::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #bbac77; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}