@charset "UTF-8";

html {
	position: relative;
	min-height: 100%;
	margin: 0;
}

body {
	min-height: 100%;
	background-color: transparent;
	overflow-y:scroll;
	overflow-x:hidden;
}

.header {
	margin: 0;
	padding: 0;
}

.footer {
	width: 100%;
	height: 90px;
	position: absolute;
	border-top: 1px solid #c4c4c4;
	padding-top: 15px;
	color: #808080;
	font-size: 11px;
	bottom: 0px;
}

.content {
	padding-bottom: 90px;
	width: 100%;
}

.sidebar {
	margin-top: 120px;
}

footer a {
	display: inline-block;
	margin: 0 20px 10px 20px;
	color: #808080;
	font-size: 11px;
}

footer a:visited {
	color: #808080;
}

footer p {
	margin-top: 0;
	margin-bottom: 0;
}

footer p span {
	display: inline-block;
	margin-left: 20px;
}

body::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #bbac77; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: rgba(191, 95, 0, 0.31);
}

.wave {
  background: url(/images/Library_wave_img.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
  z-index: -999;
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

.btn-swal-success{
	margin-left: 20px;
	width: 100px;
}

.btn-swal-danger{
	margin-right: 20px;
	width: 100px;
}