@charset "UTF-8";

html {
	position: relative;
	min-height: 100%;
	margin: 0;
}

body {
	min-height: 100%;
}

.header {
	background-color: yellow;
}

.topbar {
	background-color: pink;	
}

.footer {
	background-color: #997799;
	width: 100%;
	padding: 15px 0;
	text-align: center;
}

.content {
	background-color: red;
	width: 80%;
	height: 1000px;
}

.sidebar {
	background-color: skyblue;
	width: 20%;
}