@charset "UTF-8";

html {
	position: relative;
	min-height: 100%;
	margin: 0;
}

body {
	min-height: 100%;
	background-color: transparent;
}

.header {
	margin: 0;
	padding: 0;
}

.footer {
	background-color: #997799;
	width: 100%;
	padding: 15px 0;
	text-align: center;
}

.content {
	width: 80%;
}

.sidebar {
	width: 20%;
}