@charset "UTF-8";

.main-content {
	overflow: hidden;
}

.cnt01 {
	background-image: url("../images/Library_main.jpg");
	background-size: cover;
}

.cnt02 {
	background-color: #fff;
	padding-top: 250px;
	padding-bottom: 50px;
}

.cnt03 {
	background-image: url("../images/Library_second.jpg");
	background-size: cover;
	/* 	z-index: -1;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	transform: scale(1.02);
	content: "";  */
}

.cnt04 {
	background-image: url("../images/Library_therd.jpg");
	background-size: cover;
}

.swiper-title {
	font-size: 3em;
	width: 100%;
	text-align: center;
}

.swiper-container {
	/* height: 500px;  - 750*/
	height: 500px;
	width: 750px;
	float: left;
	position: inherit!important;
}

.swiper-slide {
	text-align: center;
	display: flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
	align-items: center; /*  위아래 기준 중앙정렬  */
	justify-content: center; /* 좌우 기준 중앙정렬 */
}

.swiper-slide img {
	/* 이미지 최대너비를 제한, 슬라이드에 이미지가 여러개가 보여질때 필요 */
	max-width: 100%;
	width: 200px;
	height: 273px;
}

.notice {
	float: left;
	width: 100%;
	z-index: -1;
	padding-left: 150px;
    padding-right: 150px;
}

.notice-area {
	position: relative;
	height: 400px;
	width: 100%;
}

.wrap {
	width: 800px;
	height: 236px;
}

/* 화면 전체를 감싸는 박스 */
.aco-wrap {
	position: absolute;
	min-width: 250px;
	width: 80%;
	height: 600px;
	top: 6%;
	left: 10%;
	right: 0;
	bottom: 0;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

/* 라디오 인풋을 이용했으며 인풋에 라벨을 이어 버튼으로 사용하므로 인풋 자체는 보여질 필요가 없음, 인풋 자체는 보이지 않게 가림 */
input.button {
	display: none;
}

/* 라디오 인풋에 체크가 되면, 인접한 .contents 상자를 보이게 함 */
input[type=radio]:checked+.aco-contents {
	visibility: visible;
	width: calc(100% - 250px);
}
/* 라디오 인풋, 모두 닫는 버튼 */
.closer {
	position: absolute;
	bottom: 0;
	right: 0;
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	background: #ADB4B0;
	text-align: center;
	font-family: "Arial Black";
	font-size: 25px;
	color: #fff;
	-moz-box-shadow: 1px 1px 3px 5px rgba(0, 0, 0, 0.02);
	-webkit-box-shadow: 1px 1px 3px 5px rgba(0, 0, 0, 0.02);
	box-shadow: 1px 1px 3px 5px rgba(0, 0, 0, 0.02);
	cursor: pointer;
	margin-bottom: 0rem;
}

/* 닫기 버튼 애니메이션 효과, 삭제시 기능상 무방함 */
input[type=radio].close:checked+.closer {
	transform: translate(0, 100%);
	-webkit-transition: transform .2s ease;
	transition: transform .2s ease;
}

input[type=radio].close:not(:checked)+.closer {
	transform: translate(0, 0);
	-webkit-transition: transform .2s ease;
	transition: transform .2s ease;
}

/* 메뉴 버튼 디자인 */
.label {
	height: 100%;
	width: 50px;
	display: inline-block;
	float: left;
	overflow: hidden;
	cursor: pointer;
}
/*  메뉴 버튼에 들어갈 아이콘을 100px * 100px, 투명한 PNG 로 저장하여 아래의 경로에 연동해주면 됨 
    위쪽 코드 .label.a 부터 맨 아래코드 .label.e 까지가 메뉴버튼 오른쪽-> 왼쪽 순서 */
.label.a {
	/* background: #2E97B7; */
	background: #6E2C00;
}

.label.b {
	/* background: #32B9BE; */
	background: #A04000;
}

.label.c {
	/* 	background: #5BCEBF; */
	background: #BA4A00;
}

.label.d {
	/* background: #74DCB9; */
	background: #D35400;
}

.label.e {
	/* background: #94DCB9; */
	background: #DC7633;
}

.label .rotate {
	display: inline-block;
}

.label .rotate p {
	position: relative;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	transform-origin: left;
	font-size: 1.6em;
	white-space: nowrap;
	left: 20px;
	font-family: "arial";
	font-weight: 600;
	color: #fff;
	top: 30px;
}

/* 컨텐츠 본문 */
.aco-contents {
	position: relative;
	visibility: collapse;
	float: left;
	height: 100%;
	width: 0;
	transition: all 0.2s ease-out;
	z-index: -1;
	overflow: hidden;
	background: -moz-linear-gradient(-45deg, rgba(46, 151, 183, 0.4) 0%,
		rgba(164, 220, 185, 0.9) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(46, 151, 183, 0.4) 0%,
		rgba(164, 220, 185, 0.9) 100%);
	background: linear-gradient(40deg, rgb(225 119 52/ 80%) 0%,
		rgb(220 203 164/ 80%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66c0c60a',
		endColorstr='#59007c33', GradientType=1);
}

.aco-inner {
	display: table;
	width: 800px;
	height: 100%;
	margin: 0 auto;
	-moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.05);
}

.aco-description {
	display: table-cell;
	vertical-align: middle;
	padding: 0 5%;
	background: rgba(0, 0, 0, 0.04);
}

.aco-description h3 {
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 50px;
	color: #ab7737;
	line-height: 1;
	margin: 0;
	text-shadow: rgb(132, 76, 36) 2px 2px 0px;
	margin-bottom: 20px;
}

.aco-description h3::first-letter {
	font-size: 70px;
	color: #bb6f11;
}

.aco-description p {
	font-size: 19px;
	line-height: 1.7;
	font-weight: 600;
	color: #4e6b61;
	padding-left: 50px;
	overflow: auto;
	letter-spacing: -1px;
}

.frame {
	position: relative;
	/*top: 24%;*/
	height: 71%;
	line-height: 100%;
	overflow: hidden;
	backdrop-filter: blur(10px);
}

.frame ul {
	list-style: none;
	margin: 0;
	padding: 20px;
	padding-bottom: 20%;
	height: 100%;
	font-size: 50px;
}

.frame ul li {
	float: left;
	width: 350px;
	margin: 0 100px 0 0;
	padding: 0;
	color: #ddd;
	text-align: center;
	cursor: pointer;
}

.frame ul li img {
	height: 100%;
	width: 100%;
}

/* card start */
@import
	url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css")
	;

.book-flip {
	width: 350px;
	height: 500px;
	position: relative;
	perspective: 1100px;
	background-color: transparent;
}

.book-card {
	width: 100%;
	height: 100%;
	position: relative;
	transition: .4s;
	transform-style: preserve-3d;
}

.book-front, .book-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.book-front {
	background: tomato;
}

.book-back {
	background: royalblue;
	transform: rotateY(180deg);
}

.book-flip:hover .book-card {
	transform: rotateY(180deg);
}
/* card end */
.sly-title {
	font-size: 60px;
	text-align: center;
	backdrop-filter: blur(10px);
	line-height: 380px;
}

#tbody {
	border-left: hidden;
	border-right: hidden;
}

.mainNotice-tr:hover td, .mainNotice-tr:hover td a {
	color: #000000;
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgb(255 170 81/ 9%);
}

#tbody>tr>td {
	border-left: hidden;
	border-right: hidden;
	line-height: 40px;
}

.td-date {
	text-align: center;
	color: #00000088;
}

.td-title>a {
	color: #00000059;
	font-size: 150%;
}

.td-title>a>span {
	line-height: 80px;
}

.time-year {
	font-size: 110%;
}

.time-monthday {
	font-size: 150%;
}

.section02{}
.section02 .s2_wrap{position:relative; display: inline-block; width: 100%; height: 440px; top: 11em;}
.section02 .s2_wrap *{position:absolute; display:inline-block;}
.section02 .s2_wrap{display:block; margin-top:20px; text-align:center;}
.section02 .s2_wrap > span {display:inline-block; margin:0 10px; width: 200px; height: 126px; background:#1e1d22; border-radius: 50%; cursor: pointer; color:#fff;}
.section02 .s2_wrap > i {display:inline-block; margin:50px 10px; width:14px; height: 14px; border-radius: 50%; background-color: #000; -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35); -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35); box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);}

.section02 .s2_wrap .btn_A {top: 86px; left: 20%; background:#000; line-height: 126px;}
.section02 .s2_wrap .btn_B {top: 25px; left: 30%; background:#000; line-height: 126px;}
.section02 .s2_wrap .btn_C {top: 0; left: 41%; background:#000; line-height: 126px;}
.section02 .s2_wrap .btn_D {top: 25px; left:52%; background:#000; line-height: 126px;}
.section02 .s2_wrap .btn_E {top: 86px; left: 62%; background:#000; line-height: 126px;}

.button_A{top:160px; left: 38%;}
.button_B{top:160px; left: 42%;}
.button_C{top:160px; left: 46%;}
.button_D{top:160px; left: 50%;}
.button_E{top:160px; left: 54%;}

.section02 .s2_wrap .btn_A:hover , .section02 .s2_wrap .btn_A.on{background-color:#DC7633;}
.section02 .s2_wrap .btn_B:hover , .section02 .s2_wrap .btn_B.on{background-color:#D35400;}
.section02 .s2_wrap .btn_C:hover , .section02 .s2_wrap .btn_C.on{background-color:#BA4A00;}
.section02 .s2_wrap .btn_D:hover , .section02 .s2_wrap .btn_D.on{background-color:#A04000;}
.section02 .s2_wrap .btn_E:hover , .section02 .s2_wrap .btn_E.on{background-color:#6E2C00;}

.section02 .content_box > div{width:100%; height:530px; color:#fff; font-size:30px; text-align:center;}
.section02 .content_box .con_A{background-color:#DC7633;}
.section02 .content_box .con_B{background-color:#D35400;}
.section02 .content_box .con_C{background-color:#BA4A00;}
.section02 .content_box .con_D{background-color:#A04000;}
.section02 .content_box .con_E{background-color:#6E2C00;}

.section02 .s2_wrap > i.on,
.section02 .s2_wrap > i.hover {-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}

.section02 .s2_wrap > i.on:after,
.section02 .s2_wrap > i.hover:after {content: ''; display: inline-block; position: absolute; top: -1px; left: -1px; border-radius: 50px; width: 16px; height: 16px; -webkit-box-shadow: 0; -moz-box-shadow: 0; box-shadow: 0;}

.section02 .s2_wrap > i.hover:before,
.section02 .s2_wrap > i.on.ani:before {content: ''; display: inline-block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) scale(0.5); transform-origin: center; width: 32px; height: 32px; border-radius: 50px; animation:circle 1.3s linear infinite; opacity: 1; box-sizing: border-box;}

.button_A.hover.ani:before , .button_A.on.ani:before {border: 2px solid #DC7633;}
.button_B.hover.ani:before , .button_B.on.ani:before {border: 2px solid #D35400;}
.button_C.hover.ani:before , .button_C.on.ani:before {border: 2px solid #BA4A00;}
.button_D.hover.ani:before , .button_D.on.ani:before {border: 2px solid #A04000;}
.button_E.hover.ani:before , .button_E.on.ani:before {border: 2px solid #6E2C00;}

.section02 .s2_wrap .button_A:after{background-color:#DC7633;}
.section02 .s2_wrap .button_B:after{background-color:#D35400;}
.section02 .s2_wrap .button_C:after{background-color:#BA4A00;}
.section02 .s2_wrap .button_D:after{background-color:#A04000;}
.section02 .s2_wrap .button_E:after{background-color:#6E2C00;}


.content_box_sub{display:none;}
.content_box_sub.con_A{display:block;}

@keyframes circle {
  0% { transform: translate(-50%, -50%) scale(0.5); opacity: 1;}
  100% { transform: translate(-50%, -50%) scale(1); opacity: 0;}
}

.input-keyword {
	width: 70%;
    height: 50px;
    border: 0px;
    border-radius: 12px;
    outline-color: orange;
    outline-width: 5px;
    outline-style: outset;
    padding: 15px;
}

#btn-search {
	margin: 20px;
	height: 50px;
	width: 100px;
	background-color: #c84b00;
	border: 0;
	font-size: 20px;
	border-radius: 12px;
	outline-color: orange;
}

.cnt03-title {
	backdrop-filter: blur(10px);
	text-align: center;
	border-bottom: solid;
	border-color: #BA4A00;
	height: 300px;
}

#bigdata-logo {
	width: 300px;
	position: absolute;
	top: 40px;
	transform: rotate( 21deg );
}

.logo-img {
	width: 300px;
    display: inherit;
    position: relative;
    margin-top: 40px;
    
}

.logo-div {
	text-align: center;
}