@charset "UTF-8";

.notice-container {
	padding-top: 100px;
	padding-left: 30px;
}

#noticewrite-container {
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 50px;
}

#noticedetailview-container {
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 50px;
}

.pagination {
	width: 0px;
	margin: auto;
}

.div-btn {
	float: right;
	padding-bottom: 20px;
}

.notice-header {
	display: flex;
	box-shadow: inset 0px 0px 30px 10px #ffb67a94;
	border-radius: 2em;
}

.notice-img {
	height: 100px;
   	width: 100px;
	background-image: url(/images/brown_leaf_removebg.png);
	background-repeat : no-repeat;
    background-size : cover;
    z-index: -1; 
    border-radius: 2em;
}

.notice-title {
	margin-top: 30px;
}