<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layoutForm}">

<head>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<link th:href="@{/css/main.css}" rel="stylesheet">
<!-- Swiper -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Sly/1.6.1/sly.min.js"></script>
<script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>
</head>
<div layout:fragment="content">
	<script src="/javascript/mainContent.js"></script>
	<input type="hidden" id="mes" th:value="${session.mes}"> <input
		type="hidden" id="meslog" th:value="${meslog}">
	<div class="main-content">
		<div class="cnt01">
			<div class="aco-wrap">
				<!--다섯번째 메뉴와 내용-->
				<!--아코디언 기능구현 핵심 요소 : 실제기능을 하는 input, CSS로 가려놓았음-->
				<input type="radio" name="navigation" id="menu1" class="button">
				<!--콘텐츠가 보여질 요소 : 위의 input이 체크 되었을 때 .contents를 선택하여 넓이를 넓어지도록 조정함 (선택자 : input[radio]:checked + .contents) -->
				<div class="aco-contents">
					<div class="aco-inner">
						<div class="aco-description">
							<h3>TITLE 5</h3>
							<p>다람쥐 헌 챗바퀴에 타고파. 다람쥐 헌 챗바퀴에 타고파.</p>
						</div>
					</div>
				</div>
				<!--버튼 요소 : 콘텐츠가 좌측, 버튼이 우측에 보여질 것이고 float:left; 로 정렬시켰음.-->
				<label for="menu1" class="label e"> <span class="rotate">
						<p>MENU 5</p>
				</span>
				</label>

				<!--이하의 메뉴와 내용 역시 위와 구조 동일함-->
				<!--네번째 메뉴와 내용-->
				<input type="radio" name="navigation" id="menu2" class="button">
				<div class="aco-contents">
					<div class="aco-inner">
						<div class="aco-description">
							<h3>TITLE 4</h3>
							<p>다람쥐 헌 챗바퀴에 타고파. 다람쥐 헌 챗바퀴에 타고파.</p>
						</div>
					</div>
				</div>
				<label for="menu2" class="label d"> <span class="rotate">
						<p>MENU 4</p>
				</span>
				</label>

				<!--세번째 메뉴와 내용-->
				<input type="radio" name="navigation" id="menu3" class="button">
				<div class="aco-contents">
					<div class="aco-inner">
						<div class="aco-description">
							<h3>TITLE 3</h3>
							<p>다람쥐 헌 챗바퀴에 타고파. 다람쥐 헌 챗바퀴에 타고파.</p>
						</div>
					</div>
				</div>
				<label for="menu3" class="label c"> <span class="rotate">
						<p>MENU 3</p>
				</span>
				</label>

				<!--두번째 메뉴와 내용-->
				<input type="radio" name="navigation" id="menu4" class="button">
				<div class="aco-contents">
					<div class="aco-inner">
						<div class="aco-description">
							<h3>TITLE 1</h3>
							<p>다람쥐 헌 챗바퀴에 타고파. 다람쥐 헌 챗바퀴에 타고파.</p>
						</div>
					</div>
				</div>
				<label for="menu4" class="label b"> <span class="rotate">
						<p>게시판 검색</p>
				</span>
				</label>

				<!--첫번째 메뉴와 내용-->
				<input type="radio" name="navigation" id="menu5" class="button">
				<div class="aco-contents">
					<div class="aco-inner">
						<div class="aco-description">
							<form action="/search" role="form" method="get">
								<h3 id="h-search">도서 검색</h3>
								<input type="text" name="keyword" class="input-keyword" placeholder="도서 키워드" id="keyword" autocomplete="off">
								<button type="submit" id="btn-search">검색</button>
							</form>
						</div>
					</div>
				</div>
				<label for="menu5" class="label a"> <span class="rotate">
						<p>도서 검색</p>
				</span>
				</label>

				<!--닫기 버튼-->
				<input type="radio" name="navigation" id="menu6"
					class="button close" checked> <label for="menu6"
					class="closer"> X </label>
			</div>
		</div>
		<div class="cnt02">
			<div class="swiper-container">
				<h1 class="swiper-title">인기 대출 도서</h1>
				<div class="swiper-wrapper">
					<div class="swiper-slide" th:each="bookList : ${bookDtoList}">
						<img th:src="@{${bookList.bookImageURL}}" class="img-book">
					</div>
				</div>

				<!-- 네비게이션 -->
				<div class="swiper-button-next"></div>
				<!-- 다음 버튼 (오른쪽에 있는 버튼) -->
				<div class="swiper-button-prev"></div>
				<!-- 이전 버튼 -->

			</div>
			<div class="notice">
				<h1 class="swiper-title">공지사항</h1>
				<div class="notice-area">
					<table
						class="table table-striped table-horizontal table-bordered mt-3">
						<tbody id="tbody">
							<tr th:each="list,index : ${resultMap.list}"
								th:with="paging=${resultMap.paging}" class="mainNotice-tr">
								<td width="18%" class="td-date"><span class="time-year"
									th:text="${#temporals.format(list.registerTime, 'yyyy')}"></span><br>
									<span class="time-monthday"
									th:text="${#temporals.format(list.registerTime, 'MM.dd')}"></span></td>
								<td class="td-title"><a
									th:href="@{./board/noticeDetailView(id=${list.id})}"><span
										th:text="${list.title}"></span></a></td>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="cnt03">
			<p class="sly-title">남구도서관 인기대출도서</p>
			<div class="frame" id="cycleitems">
				<ul class="slidee">
					<li th:each="bookList : ${bookDtoListToLib}">
						<div class="book-flip">
							<div class="book-card">
								<div class="book-front">
									<img th:src="@{${bookList.bookImageURL}}">
								</div>
								<div class="book-back">
									<img th:src="@{/file/bookImage(isbn=${bookList.isbn13})}">
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="cnt04">
			<div class="section02" >
				<div class="s2_wrap">
					<span data-show="con_A" data-button="button_A" class="btn_A on">남구문화정보도서관</span>
					<span data-show="con_B" data-button="button_B" class="btn_B">광주광역시립사직도서관</span>
					<span data-show="con_C" data-button="button_C" class="btn_C">남구청소년도서관</span>
					<span data-show="con_D" data-button="button_D" class="btn_D">남구푸른길도서관</span>
					<span data-show="con_E" data-button="button_E" class="btn_E">금호평생교육관</span>
					<i class="button_A on ani"></i> <i class="button_B ani"></i> <i
						class="button_C ani"></i> <i class="button_D ani"></i> <i
						class="button_E ani"></i>
				</div>


				<div class="content_box con_A">
					<div class="content_box_sub con_A">
						<div id="daumRoughmapContainer1669965579197" class="root_daum_roughmap root_daum_roughmap_landing"></div>
					</div>
					<div class="content_box_sub con_B">
						<div id="daumRoughmapContainer1669969380551" class="root_daum_roughmap root_daum_roughmap_landing"></div>
					</div>
					<div class="content_box_sub con_C">
						<div id="daumRoughmapContainer1669970962548" class="root_daum_roughmap root_daum_roughmap_landing"></div>
					</div>
					<div class="content_box_sub con_D">
						<div id="daumRoughmapContainer1669972505045" class="root_daum_roughmap root_daum_roughmap_landing"></div>
					</div>
					<div class="content_box_sub con_E">
						<div id="daumRoughmapContainer1669972619007" class="root_daum_roughmap root_daum_roughmap_landing"></div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
</html>