<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layoutForm}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/contents.css}">
</head>

<div layout:fragment="content">
	<div class="intro-wapper">
		<div class="intro-title">
			<h1>인사말</h1>
		</div>

		<div class="intro01_area">
			<div class="left_area">
				<span style="font-size: 16px; font-weight: 600; color: #0a3076;">안녕하세요?</span><br>
				<span style="font-size: 15px; font-weight: 500; line-height: 180%; letter-spacing: -0.6px;">
				남구 통합 도서관 홈페이지를 방문하여 주셔서 감사합니다.</span><br> <br> 우리남구는 2003년
				문화정보도서관을, 2013년 푸른길도서관을, 2017년 청소년도서관을 개관하여 다양한 도서와 비도서를 확보하고
				지역거점도서관으로서 역할을 다하고 있습니다.<br> <br> 
				<span style="font-weight: 600; color: #0d6bad;">문화정보도서관</span>은 정보 이용욕구에
				부응하고, 독서문화장려를 위하여 어린이자료실, 디지털 자료실, 종합자료실, 일반열람실 등을 관리운영하고 있으며 다양한
				독서·문화프로그램을 운영하고 있습니다.<br> <br> 
				<span style="font-weight: 600; color: #009c3b;">푸른길도서관</span>은 어린이
				특화도서관으로 기존의 독서실 개념에서 벗어나 상상력과 창의력을 구현할 수 있는 인테리어 시설이 돋보이도록 꾸며져 있습니다.
				<br> 어린이자료실은 아동의 연령대에 맞춰 도서관을 이용할 수 있도록 유아실, 아동실을 각각 마련하였으며, 3층
				종합자료실은 야외경관을 감상하면서 독서의 세계로 빠져들 수 있는 매력적인 독서공간으로 구성하였습니다.<br> <br>
			</div>

			<div class="right_area">
				<span style="font-weight: 600; color: #b95004;">청소년도서관</span>은 주민
				생활권 주변의 구립 거점 도서관 확충 및 문화기반시설 확보를 위하여 2017년 7월에 개관하여 운영하고 있습니다. 청소년
				및 성인, 어린이들을 위한 도서를 확보하여 대출 · 열람 서비스를 제공하고 있으며, 특히 문화공연을 희망하는 청소년과
				단체를 위한 문화공연장이 마련되어 있습니다. 또한 독서 동아리실 운영을 통하여 청소년뿐만 아니라 지역 주민의 활동을
				유도하여 문화 사랑방 역할도 수행하고 있습니다.<br> <br> 공공도서관은 지역사회에서 교육과 문화에
				매우 중요한 역할을 맡고 있으며 오늘날 지식기반사회에서 인적자원 양성과 문화 정보 교류 활성화를 위한 역할과 비중이 점점
				증대되고 있는 실정입니다.<br> <br> 남구는 그러한 요구와 기대에 맞추어 3개의 구립도서관과 남구
				관내 16개동에 작은 도서관을 조성하여 보다 많은 구민들이 행복하게 즐겨 찾는 도서관을 만들기 위해 최선을 다하겠습니다.
				<br> <br> 감사합니다.
				<div class="name_sign">
				</div>
			</div>
		</div>
	</div>
</div>
</html>