<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layoutForm}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/intro.css}">
</head>

<div layout:fragment="content">
	<div class="intro-wapper">
		<div class="intro-title">
			<h1>도서관소개</h1>
		</div>
		<div class="intro-content">
			남구통합도서관 홈페이지를 방문해주셔서 감사합니다.<br> 우리 남구에는 3개의 도서관이 있으며, 장서확충을 통해
			양질의 정보를 제공하고 다양한 독서·문화프로그램을 운영하고 있습니다.<br> 앞으로 우리 도서관은 지역민들에게 꼭
			필요한 정보를 드리고 건전한 여가를 즐길 수 있는 지역 문화사랑방으로 거듭날 수 있도록 노력하겠습니다.<br>
		</div>
		<div class="li_pic">
			<img class="intro-image" th:src="@{/images/namgu_li.jpg}">
			<p>문화정보도서관</p>
		</div>
		<div class="li_pic">
			<img class="intro-image" th:src="@{/images/purun_li.jpg}">
			<p>푸른길도서관</p>
		</div>
		<div class="li_pic">
			<img class="intro-image" th:src="@{/images/namgu_ch.jpg}">
			<p>청소년도서관</p>
		</div>
	</div>
</div>
</html>